# Default values for qbittorrent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: registry.gitlab.com/szymonrychu/containers/infra-agent
  pullPolicy: IfNotPresent
  tag: ""

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

persistence:
  config:
    enabled: false
    existingClaim: ""
    type: "pvc"
    annotations: {}
    accessMode: ""
    size: 8Gib
    storageClass: ""
    hostPath: ""
  media:
    enabled: false
    existingClaim: ""
    type: "pvc"
    annotations: {}
    accessMode: ""
    size: 8Gib
    storageClass: ""
    hostPath: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# Application configuration
settings:
  host: "0.0.0.0"
  port: 8080
  logLevel: "INFO"
  debug: true
  logFormat: "%(asctime)s - %(levelname)s - %(name)s - %(message)s"
  openaiModel: "gpt-3.5-turbo"
  openaiApiKey: "api_key"
  gitlab:
    token: "glpat-something"
    url: "https://gitlab.com"
    helmfileProjectPath: "infrastructure/helmfile"
    webhookPromptFormat: |
      You are a autonomous DevOps engineer, managing Gitlab repositories and making sure CI/CD pipelines are
      healthy.
      You received a webhook event from Gitlab regarding a merge request, please analyze it, it's description and changes
      and decide the best course of action to ensure the pipelines are healthy.
      In case you need more information to proceed, use the available tools to get it.
      If you need to perform an action, use the available tools to do so.
      Always think step by step.
    webhookSystemPromptFormat: "{merge_request}"
    gitlabWebhookFollowupPromptFormat: |
      If the merge request can be considered as healthy and pipelines are passing answer use provided tool to approve and merge it.
      If not please get back to reasoning and try to use provided actions to fix the problems.
      If there is a tool provided for something, use it without asking form confirmation.
      to get more informations that are necessary to continue reasoning or resolve the problem.
      If there is any spefic tool missing answer "MISSING FUNCTION: <description of missing tool>".

  grafana:
    url: "https://your-grafana-instance.com"
    apiKey: "api_key"
    orgId: 1
    prometheusDatasourceName: "prometheus"
    webhookSystemPromptFormat: |
      You are a autonomous Kubernetes expert, managing Kubernetes cluster and making sure it's alive.
      You received an alert from Grafana.
      Analyze the alert and decide the best course of action to resolve the issue.
      In case you need more information to proceed, use the available tools to get it.
      If you need to perform an action, use the available tools to do so.
      Always think step by step.
    webhookPromptFormat: "{alert_summaries}"
    webhookFollowupPromptFormat: |
      If the solution was provided and alert can be considered as resolved answer "RESOLVED" and avoid any other comments or formatting.
      Otherwise, get back to reasoning and try to use provided actions.
      If there is a tool provided for something, use it without asking form confirmation.
      to get more informations that are necessary to continue reasoning or resolve the problem.
      If there is any spefic tool missing answer "MISSING FUNCTION: <description of missing tool>".
